/* --------Global--------- */

body {
	font-family: 'Hind', sans-serif;
	max-width: 1400px;
	margin: 0 auto;
}

p , a {
	font-size: 20px;
	text-decoration: none;
	color: #242424;
	margin: 0;
}

h2 {
    display: inline;
    line-height: 80px;
}

h4  {
    display: inline;
    margin: 0;
}

.clear {
	clear: both;
}
.wrapper {
	width: 968px;
	margin: 0 auto;	
}

/* --------Header--------- */

header {
	height: 45px;
	background-color: #242424;
}

.header__logo {
    margin-left: 30px;
    float: left;
	color: #57c5a0;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 500;
	display: inline;
	line-height: 45px;
}

.header__search, .header__login {
	float: right;
	border-right: 1px solid #383838;
	line-height: 45px;
	padding: 0 25px;	
}

.header__login  {
	color: #7e7e7e;
	font-size: 11px;
	font-weight: 300;
	display: inline;
}


/* -----Main nav------- */


.nav-panel__nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-panel__nav-item {
	float: left;
	font-size: 16px;
	border-left: 1px solid #eeeeee;
	padding: 16px;
	font-weight: 500;
	display: inline-block;
}

.nav-panel__nav-item--active a{
    color: #57c5a0;
}

.nav-panel__nav-item:last-child {
	border-right: 1px solid #eeeeee;
}

.nav-panel__star, .nav-panel__basket {
	background: #fff url('../images/star.png') 15px 25px no-repeat;
	padding: 22px 20px 22px 35px;
	display: inline-block;
    float: right;
	border: 1px solid #eeeeee;
	margin: 0;
}

.nav-panel__basket {
	background: #fff url('../images/basket.png') 15px 25px no-repeat;
}
	
.nav-panel__score, .nav-panel__num {
	display: block;
	background-color: #adadad;
	width: 20px;
	height: 20px;
	color: #fff;
	border-radius: 5px;	
	margin: 0 10px;
	text-align: center;
	line-height: 20px;
}

.nav-panel__num {
	background-color: #57c5a0;
}

/* ------Banner------- */

.banner {
	background: #fff url('../images/woman.jpg') 0 0 no-repeat;
    position: relative;
    height: 460px;
}

.banner, .arrivals, .best {
	overflow: hidden;
}

.banner__text {
    width: 55%;
}

.banner__wrapper {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 50%;
}


.banner__price {
	display: block;
	background-color: #57c5a0;
	width: 65px;
	height: 65px;
	color: #fff;
	border-radius: 5px;		
	line-height: 65px;
	text-align: center;
}

.banner__icons {
	background: transparent url('../images/icons.png') 0 0 no-repeat;
	height: 40px;
	cursor: pointer;
}

/* ------Brands menu------- */

.brands {
	background-color: #2e2e2e;
	overflow: hidden;
}


.brands__lineblock {
    border-right: 2px solid #2e2e2e;
    padding: 2px 4px;
    width: 19%;
    height: 6px;
    float: left;
}

.brands__innerblock {
    background-color: #57c5a0;
    height: 6px;
    display: none;
}

.brands__innerblock--active {
    display: block;
}

.brands__item {
	display: inline-block;
	padding: 20px 0;
	width: 19.5%;
	box-sizing: border-box;
}

.brands__link {
	font-size: 18px;
	color: #fff;
	display: block;
	text-align: center;
}

.brands__price{
	display: block;
	font-size: 12px;
	color: #fff;
}

/* -------Special-offers------ */

.special-offers {
	background-color: #242424;
	overflow: hidden;
}

.brands__line {
	height: 10px;
	background-color: #000;
	margin-top: 6px;
	padding: 2px 0;	
}

.special-offers__img, .arrivals__img, .best__img {
    float: left;
	position: relative;
	box-sizing: border-box;
}

.special-offers__img--center, .arrivals__img--center, .best__img--center {
	margin-left:34px;
}

.special-offers__img--right, .arrivals__img--right, .best__img--right {
	float: right;
}

.special-offers__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 200px;
    margin-top: -25px;
    margin-left: -100px;
    background-color: rgba(36, 36, 36, 0.7);
    border-radius: 5px;
    line-height: 50px;
    color: #fff;
    font-weight: 400;
    font-size: 25px;
	text-transform: uppercase;
	text-align: center;
}

/* ------Goods------- */

.main {
	background-color: #ebe7df !important;
	overflow: hidden;
}

.show-button {
	display: block;
	float: right;
	border: 1px solid #bcb5a7;
	color: #bcb5a7;
	font-size: 14px;
	padding: 5px 25px;
	margin: 25px 0;
	cursor: pointer;
}

.line-divider {
	border-bottom: 1px solid #bcb5a7;
	margin: 45px 0 25px;
}


.shipping, .testimonials {
	width: 220px
}

.testimonials__author  {
	font-style: italic;
}

.shipping, .testimonials, .blog-news {
	display: inline-block;
	background-color: #dfdbd4;
	padding: 10px 15px;
	margin-bottom: 20px;
}

.testimonials {
	margin-left: 20px;
}

.blog-news {
	float: right;
	width: 400px;
}

.blog-news__image {
	float:left;
	margin-right: 10px;
}

.products__text {
	font-size: 12px;
	margin: -5px 0;
}


.blog-news__article {
	float: none;
	margin-bottom: 9px;
}


/* -------------- */


.widgets {
	background-color: #242424;
}

.wrapper2 {
	margin: 0 auto;
	width: 888px;
}

.row-widget {
	overflow: hidden;
}
.row-widget h3 {
	color: #7d7d7d;
}

.text-widget  p{
	font-size: 12px;
	color: #fff;
}

.text-widget, .tweet-widget, .fkr-widget {
	display: inline;
	float: left;
} 

.text-widget, .tweet-widget {
	width: 250px;
}

.tweet-widget__heading {
	margin-left: 40px;
}

.tweet-widget__list {
	list-style-type: none;
	margin-left: 0;
}
.tweet-widget__item {
	font-style: italic;
	font-size: 12px;
	color: #fff;
}

.tweet-widget__mail {
	color: #57c5a0;
}

.fkr-widget {
	float: right;
}

.footer-divider {
	border-bottom: 2px solid #1c1c1c;
	margin: 25px 0;
}

.search-block {
	margin: 35px 0 45px;
	height: 35px;
	display: inline-block;
}

.search-input{
	background-color: #2e2e2e;
	border-color: #2e2e2e;
	outline: none;
	color: #7d7d7d;
	font-style: italic;
	border-width: 0px;
    border-style: none;
	padding: 12px;
	font-size: 12px;
}

.social-icons {
	background: url('../images/socaials1.png') no-repeat;
	float: right;
	margin: 40px 0 45px;
	height: 36px;	
	width: 212px;
}

.searchblock__arrow {
	display: inline;
	padding: 12px;
	background-color: #7d7d7d;
	height: 35px;
	width: 35px;
	cursor: pointer;
	font-size: 12px;
}

.footer {
	background-color: #2e2e2e;
	height: 90px;
}

.footer >.wrapper {
	overflow: hidden;
}

.footer-text {
	float: left;
	margin-top: 30px;
}

.footer-text, .footer-menu__link  {
	color: #7d7d7d;
	font-size: 12px;
	text-decoration: none;
}

.footer-menu {
	margin: 30px 0;
	list-style-type: none;
	float: right;
}

.footer-menu__item {
	display: inline;
}

