body {
	font-family: 'Hind', sans-serif;
	max-width: 1400px;
	margin: 0 auto;
}

p , a {
	font-size: 20px;
	text-decoration: none;
	color: #242424;
	margin: 0;
}

.clear {
	clear: both;
}
.wrapper {
	width: 968px;
	margin: 0 auto;	
}

/* ----------------- */

header {
	height: 45px;
	background-color: #242424;
}

.header__logo {
	margin-left: 30px;
	float: left;
}

.header__logo p {
	color: #57c5a0;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 500;
	display: inline;
	line-height: 45px;
}

.header__search, .header__login {
	float: right;
	border-right: 1px solid #383838;
	line-height: 45px;
	padding: 0 25px;	
}

.header__login  {
	color: #7e7e7e;
	font-size: 11px;
	font-weight: 300;
	display: inline;
}


/* ------------ */


.heading__nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.heading__nav ul li {
	float: left;
	font-size: 16px;
	border-left: 1px solid #eeeeee;
	padding: 16px;
	font-weight: 500;
	display: inline-block;
}

.heading__nav ul li:last-child {
	border-right: 1px solid #eeeeee;
}

.heading__star, .heading__basket {
	background: #fff url('../images/star.png') 15px 25px no-repeat;
	padding: 22px 20px 22px 35px;
	display: inline-block;
    float: right;
	border: 1px solid #eeeeee;
	margin: 0;
}

.heading__basket {
	background: #fff url('../images/basket.png') 15px 25px no-repeat;
}
	
.heading__score, .heading__num {
	display: block;
	background-color: #adadad;
	width: 20px;
	height: 20px;
	color: #fff;
	border-radius: 5px;	
	margin: 0 10px;
	text-align: center;
	line-height: 20px;
}

.heading__num {
	background-color: #57c5a0;
}

/* ------------- */

.banner {
	background: #fff url('../images/woman.jpg') 0 0 no-repeat;
}

.banner, .arrivals, .best {
	overflow: hidden;
	
}
.banner__text {
    width: 55%;
}

.banner__wrapper {
	width: 50%;
	float: right;
	box-sizing: border-box;
	margin: 90px 0;
}


.banner__price {
	display: block;
	background-color: #57c5a0;
	width: 65px;
	height: 65px;
	color: #fff;
	border-radius: 5px;		
	line-height: 65px;
	text-align: center;
}

.banner__icons {
	background: transparent url('../images/icons.png') 0 0 no-repeat;
	height: 40px;
	cursor: pointer;
}

/* ------------- */

.brands {
	background-color: #2e2e2e;
	overflow: hidden;
}

.brands__item {
	display: inline-block;
	padding: 20px 0;
	width: 19.5%;
	box-sizing: border-box;
}

.brands__item a {
	font-size: 18px;
	color: #fff;
	display: block;
	text-align: center;
}

.brands__item a  span{
	display: block;
	font-size: 12px;
	color: #fff;
}

/* ------------- */

.special {
	background-color: #242424;
	overflow: hidden;
}

.brands__line {
	height: 10px;
	background-color: #000;
	margin-top: 6px;
	padding: 2px 0;	
}

.brands__lineblock {
    border-right: 2px solid #2e2e2e;
    padding: 2px 4px;
    width: 19%;
    height: 6px;
	float: left;
}

.brands__lineblock_active {
	background-color: #57c5a0;
	height: 6px;
}

figure {
    float: left;
	position: relative;
	box-sizing: border-box;
}

figure.center {
	margin-left:34px;
}

figure.right {
	float: right;
}

figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 200px;
    margin-top: -25px;
    margin-left: -100px;
    background-color: rgba(36, 36, 36, 0.7);
    border-radius: 5px;
    line-height: 50px;
    color: #fff;
    font-weight: 400;
    font-size: 25px;
	text-transform: uppercase;
	text-align: center;
}

	
}

/* ------------- */

main {
	background-color: #ebe7df !important;
	overflow: hidden;
}

h2 {
	display: inline;
	line-height: 80px;
}

.show {
	display: block;
	float: right;
	border: 1px solid #bcb5a7;
	color: #bcb5a7;
	font-size: 14px;
	padding: 5px 25px;
	margin: 25px 0;
	cursor: pointer;
}

.line {
	border-bottom: 1px solid #bcb5a7;
	margin: 45px 0 25px;
}


.shipping, .testimonials {
	width: 220px
}

.testimonials span  {
	font-style: italic;
}

.shipping, .testimonials, .blog-news {
	display: inline-block;
	background-color: #dfdbd4;
	padding: 10px 15px;
	margin-bottom: 20px;
}

.testimonials {
	margin-left: 20px;
}

.blog-news {
	float: right;
	width: 400px;
}

h4  {
	display: inline;
	margin: 0;
}

.blog-news img {
	float:left;
	margin-right: 10px;
}

.shipping p, .testimonials p, .blog-news p {
	font-size: 12px;
	margin: -5px 0;
}


figure.news {
	float: none;
	margin-bottom: 9px;
}


/* -------------- */


.widgets {
	background-color: #242424;
}

.wrapper2 {
	margin: 0 auto;
	width: 888px;
}

.row-wiget {
	overflow: hidden;
}
.row-wiget h3 {
	color: #7d7d7d;
}

.text-widget  p{
	font-size: 12px;
	color: #fff;
}

.text-widget, .ttr-widget, .fkr-widget {
	display: inline;
	float: left;
} 

.text-widget, .ttr-widget {
	width: 250px;
}

.ttr-widget h3 {
	margin-left: 40px;
}

.ttr-widget ul {
	list-style-type: none;
	margin-left: 0;
}
.ttr-widget  li {
	font-style: italic;
	font-size: 12px;
	color: #fff;
}

.ttr-widget  span {
	color: #57c5a0;
}

.fkr-widget {
	float: right;
}

.line2 {
	border-bottom: 2px solid #1c1c1c;
	margin: 25px 0;
}

.searchblock {
	margin: 35px 0 45px;
	height: 35px;
	display: inline-block;
}

input {
	background-color: #2e2e2e;
	border-color: #2e2e2e;
	outline: none;
	color: #7d7d7d;
	font-style: italic;
	border-width: 0px;
    border-style: none;
	padding: 12px;
	font-size: 12px;
}

.social-icons {
	background: url('../images/socaials1.png') no-repeat;
	float: right;
	margin: 40px 0 45px;
	height: 36px;	
	width: 212px;
}

.searchblock__arrow {
	display: inline;
	padding: 12px;
	background-color: #7d7d7d;
	height: 35px;
	width: 35px;
	cursor: pointer;
	font-size: 12px;
}

footer {
	background-color: #2e2e2e;
	height: 90px;
}

footer >.wrapper {
	overflow: hidden;
}

footer p {
	float: left;
	margin-top: 30px;
}

footer p, footer ul a  {
	color: #7d7d7d;
	font-size: 12px;
	text-decoration: none;
}

footer ul {
	margin: 30px 0;
	list-style-type: none;
	float: right;
}

footer ul li {
	display: inline;
}

